body {
    background:"{{ url_for('static', filename='photos/blogbackground.jpg') }}"
    background-size: 100% 100%;
    height: 300px;
    background-size: cover;
}
.wrapper{margin:3vh}

.card{
    border: solid #392B58;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border-radius:20px;
    min-height:450px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  
    @media (max-width: 768px) {
        min-height:350px;
    }
    @media (max-width: 420px) {
        min-height:300px;
    }
}
